<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>mail list</title>
</head>
<body>

    <main id="list-container">
        <div>
            <h1>
                mailing list
            </h1>
        </div>

        <div>
            <input v-model="numberOfMails" type="number" @keyup.enter="getNumberOfMails">
            <button @click="getNumberOfMails"> create mails</button>
        </div>

        <div>
            <ol v-if="mailGot.length !== 0 && numberOfMails === mailGot.length">
                <li v-for="mail in mailGot">
                    {{mail}}
                </li>
            </ol>
        </div>
    </main>



    <script type="text/javascript" src="js/main.js"></script>
    
</body>
</html>